@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Game {
    border: 3px solid green;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.Game-title {
    background-color: rgb(187, 1, 1);
    color: white;
    padding: 10px 0 10px 0;
    margin: -5px 0 0 0;
}
