.App {
    text-align: center;
    height: 100vh;
    /* background-image: url("./VP2/images/poker_bkgd.jpg");
    background-size: cover;
    background-position: bottom; */
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
